{{#if entries.length}}

  </br><div class="text-label">Showing {{totalShown}} of {{totalLoaded}}</div></br>

  <ul class="compendium-list-results">
    {{#each entries}}
      <li class="compendium-list-row {{#if @odd}}striped{{/if}}" data-id="{{_id}}" data-uuid="{{uuid}}" draggable="true">
        <img class="result-icon" src="{{img}}" alt="{{name}}" />
        <span class="result-name">{{name}}</span>

        {{#if (eq ../activeTab "hindrances")}}
          <span class="result-extra severity">{{system.severity}}</span>
        {{/if}}

        {{#if (and (eq ../activeTab "skills") (eq type "skill"))}}
          <span class="result-extra linked-attribute">{{system.attribute}}</span>
        {{/if}}

        {{#if (eq ../activeTab "edges")}}
          <span class="result-extra requirements">{{firstValue system.requirements}}</span>
        {{/if}}
        {{#if (eq ../activeTab "gear")}}
          <span class="result-extra gear">{{capitalize type}}</span>
        {{/if}}
      </li>
    {{/each}}
  </ul>

{{else}}
<p class="no-results">No results found for this tab.</p>
{{/if}}